@charset "UTF-8";
$black: #000000;
$white: #FFFFFF;
$green: #B4F1CF;
$red: #B33B18;

#es-garnier.es-garnier {
    font-family: "Montserrat", sans-serif;
    color: $black;
    max-width: 990px;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    font-size: 16px;
    font-weight: 500;

    * {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    img {
        display: block;
        max-width: 100%;
        margin: 0 auto;
    }

    p {
        margin: 0;
        padding: 0;
    }

    sup {
        font-size: 0.6em;
    }

    .es-uppercase {
        text-transform: uppercase;
    }

    .es-bold {
        font-weight: 700;
    }

    .es-title {
        font-weight: 700;
        font-size: 25px;
        text-align: center;
        text-wrap: balance;
        color: $red;
        margin-bottom: 8px;
    }

    .es-subtitle {
        font-size: 25px;
        line-height: 1;
        text-align: center;
        text-wrap: balance;
    }

    .es-kv {
        background: rgb(50, 94, 143);
        background: linear-gradient(180deg, rgba(50, 94, 143, 1) 0%, rgba(66, 111, 160, 1) 60%, rgba(86, 132, 174, 1) 100%);
        color: $white;


        &__wrapper {
            margin: 0;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__branding {
            text-align: center;
            position: absolute;
            top: 0;
            right: 0;
            max-width: 35%;
        }

        &__branding {
            .es-kv__text {
                text-transform: uppercase;
                font-weight: 700;
                font-size: 22px;
                letter-spacing: -0.02em;
                line-height: 0.9;
            }

            .es-kv__text span {
                font-size: 28px;
            }
        }

        &__logoCtn img {
            margin: auto;
        }

        &__textCtn {
            background-size: cover;
            background-repeat: no-repeat;
            color: $white;
            font-size: 16px;
            font-weight: 700;
            line-height: 1.3;
            position: absolute;
            left: 0;
            top: 7px;
            padding: 7px;
        }
    }

    .es-green-background {
        background-size: cover;
        background-repeat: no-repeat;
    }

    .es-new {
        padding-top: 20px;
        padding-bottom: 30px;

        &__button {
            color: $white;
            background-color: $red;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
            font-size: 20px;
            width: 220px;
            padding: 10px 40px;
            margin: 20px auto;

        }
    }

    .es-benefits {
        padding: 50px 0 32px 0;
        position: relative;
        z-index: 2;
        margin-bottom: 40px;


        .es-title {
            color: $black;
        }


        &__container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }

        &__figure {
            position: relative;
            width: 100%;
            margin: auto;
            margin: 0;
        }

        &__imgCtn {
            overflow: hidden;
            aspect-ratio: 1/1;
            margin: auto;
        }

        &__imgCtn img {
            aspect-ratio: 1/1;
            -o-object-fit: contain;
            object-fit: contain;
            transition: all 200ms ease-in-out;
            width: 100%;


            &:hover {
                scale: 1.05;
            }
        }

        &__BA--text {
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 15px;
            margin-top: -4%;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 20px;
            color: $white;
        }

        & .es-title {
            color: $black;
        }

        &__pill {
            width: 100%;
        }

        &__pill .es-title {
            color: $red;
            margin-bottom: 50px;
            margin-top: 50px;
        }

        &__pill-wrapper {
            display: flex;
            align-items: center;
        }

        &__pill-img {
            margin: 0;
        }

        &__pill-text-wrapper {
            position: relative;
        }

        &__line {
            position: absolute;
            left: -20%;
        }

        &__line-top {
            border-top: solid 2px $red;
            border-right: solid 2px $red;
            width: 123px;
            height: 23px;
            top: -50px;
        }

        &__line-bottom {
            border-bottom: solid 2px $red;
            border-right: solid 2px $red;
            width: 123px;
            height: 23px;
            margin-top: 30px;
        }

        &__pill-text {
            text-transform: uppercase;
            text-align: center;
            font-size: 18px;
            margin-right: 10px;
        }

    }

    .es-products {
        margin-bottom: 120px;


        .es-subtitle {
            margin-bottom: 30px;
        }

        &__wrapper {
            position: relative;

        }

        &__names {
            background-color: $white;
            display: flex;
        }

        &__single-rectangle {
            width: 41px;
            height: 41px;
            background-color: $red;
            color: $white;
            font-size: 20px;
            font-weight: 700;
            text-align: center;
            padding: 7px;

            &:hover {
                opacity: 0.7;
            }
        }

        &__single {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            bottom: -68px;
        }

        &__single-1 {
            left: 5%;
        }

        &__single-2 {
            left: 27%;
        }

        &__single-3 {
            left: 52%;
        }

        &__single-4 {
            left: 68%;
            bottom: -110px;
        }

        &__single-line {
            width: 2px;
            height: 69px;
            background-color: $red;
        }

        &__single-text {
            color: $black;
            font-weight: 700;
            text-align: center;
            line-height: 1.5;
        }
    }

    .es-cross {
        padding-top: 70px;
        margin: 0 0px 40px 0px;

        &__single-img {
            position: relative;
            width: fit-content;
            margin: 0 auto;
            transition: all 200ms ease-in-out;

            &:hover {
                scale: 1.05;
            }
        }

        &__single-text {
            text-transform: uppercase;
            color: $red;
            font-weight: 700;
            position: absolute;
            left: 30px;
            top: 50%;
            transform: translateY(-50%);
        }

        &__single-table-wrapper {
            max-width: 327px;
            margin: 15px auto;
        }

        &__single-table {
            border: 1px solid $red;
            text-align: center;
        }

        &__single-table-title {
            text-transform: uppercase;
            font-weight: 700;
            color: $white;
            background-color: $red;
            padding: 5px 0;
        }

        &__single-table-text {
            padding: 20px 30px;
        }

        &__single-link {
            display: block;
            background-color: $green;
            border: 2px solid $green;
            color: $black;
            text-transform: uppercase;
            font-weight: 700;
            text-align: center;
            text-decoration: none;
            padding: 10px 0;
            margin-top: 15px;
            margin-bottom: 40px;

            &:hover,
            &:focus {

                background-color: $white;
                border: 2px solid $green;
            }
        }

        .es-swiper1 {
            height: fit-content;


            .swiper-button-prev,
            .swiper-button-next {
                color: $red;
                width: 26px;
                height: 26px;
                top: 24%;
            }

            .swiper-button-prev {
                left: -7px;
            }

            .swiper-button-next {
                right: -5px;
            }


            .swiper-button-prev::after,
            .swiper-button-next::after {
                font-size: 25px;
                font-weight: 700;
            }
        }

        .swiper-button-disabled {
            display: none;
        }

        .es-swiper1-pagination {
            bottom: 0;
        }

        .es-swiper1-pagination .swiper-pagination-bullet {
            background-color: $red;
        }
    }

    .es-use {
        background-color: #EBFBF2;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right bottom;
        padding-top: 60px;
        min-height: 400px;
        position: relative;

        &__wrapper {
            display: flex;
            flex-wrap: wrap;
            margin-top: 30px;
        }

        &__img {
            position: absolute;
            left: 0;
            top: -50px;
            transition: all 200ms ease-in-out;


            &:hover {
                scale: 1.05;
            }
        }

        &__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }

        &__list-desktop {
            display: none;
        }

        &__list-mobile {
            margin-left: 20px;
            margin-right: 20px;
        }

        &__list-single {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 10px;
            margin-bottom: 20px;
        }

        &__list-mobile .es-use__list-wrapper {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;
        }

        &__list-number {
            font-size: 20px;
            font-weight: 700;
            color: $red;
            border: 2px solid $red;
            border-radius: 5px;
            text-align: center;
            padding-top: 7px;
            min-width: 40px;
            width: 40px;
            height: 40px
        }

        &__list-title {
            color: $red;
            text-transform: uppercase;
        }

        &__list-text {
            text-wrap: balance;
            align-self: flex-start;
        }
    }

    .es-footer {
        &__text {
            font-size: 11px;
            color: $black;
            background-color: #EBFBF2;
            padding: 30px 10px;
            width: 100%;
            line-height: 1.5;
            text-align: center;
        }

        &__logoCtn {
            margin: 20px auto;
        }

        &__signs {
            background: rgb(18, 88, 40);
            background: linear-gradient(90deg, rgb(18, 88, 40) 0%, rgb(19, 111, 50) 20%, rgb(19, 116, 52) 50%, rgb(19, 112, 51) 80%, rgb(18, 91, 41) 100%);
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 32px;
            padding: 32px;
        }

        &__signs img {
            max-width: 200px;
        }
    }

    @media (max-width: 365px) {
        .es-benefits__pill-text {
            font-size: 16px;
            margin-left: -20px;
        }

        .es-use__img img {
            width: 70px;
        }
    }

    @media (max-width: 390px) {
        .es-products__single-1 {
            left: 3%;
        }

        .es-products__single-text {
            font-size: 14px;
        }

        .es-cross__single-img {
            padding: 0 20px;
        }
    }

    @media (max-width: 420px) {
        .es-use {
            background-size: 50%;
            background-position: right bottom;

            .es-title {
                margin-left: 20%;
            }
        }
    }

    @media (min-width: 370px) {
        .es-kv {
            &__textCtn {
                font-size: 18px;
                top: 10px;
                padding: 10px;
            }

            &__branding .es-kv__text {
                font-size: 26px;

            }

            &__branding .es-kv__text span {
                font-size: 35px;
            }
        }

    }

    @media (min-width: 400px) {
        .es-benefits__pill-wrapper {
            justify-content: center;
        }
    }

    @media (min-width: 500px) {
        .es-products {
            &__single-1 {
                left: 18%;
            }

            &__single-2 {
                left: 35%;
            }

            &__single-3 {
                left: 52%;
            }

            &__single-4 {
                left: 68%;
            }
        }
    }

    @media (min-width: 600px) {
        .es-products {
            &__img {
                width: 600px;
            }

            &__single-rectangle {
                width: 45px;
                height: 45px;
                font-size: 20px;
                padding: 10px;
            }

            &__single-1 {
                left: 18%;
            }

            &__single-2 {
                left: 35%;
            }

            &__single-3 {
                left: 52%;
            }

            &__single-4 {
                left: 75%;
                bottom: -115px;
            }

            &__single-line {
                width: 2px;
                height: 89px;
            }
        }
    }

    @media (min-width: 638px) {
        .es-title {
            font-size: 35px;
            line-height: 1.3;
            text-align: center;
        }

        .es-subtitle {
            font-size: 35px;
        }

        .es-green-background {
            background-repeat: repeat;
            background-position-y: -5px;
        }

        .es-benefits {
            &__BA--text {
                padding: 15px 105px;
            }

            &__pill {
                width: 60%;
            }
        }

        .es-footer {
            &__text br {
                display: none;
            }

            &__logoCtn {
                margin-block: 32px;
                margin: unset;
                margin-top: 20px;
                margin-bottom: 20px;
            }

            &__signs img {
                flex-basis: 33%;
                max-width: 150px;
            }

            &__signs {
                flex-direction: row;
                align-items: flex-end;
                justify-content: center;
                padding: 16px;
            }
        }
    }

    @media (min-width: 768px) {
        .es-kv {
            padding-bottom: 50px;

            &__wrapper {
                display: flex;
                flex-direction: row;
                align-items: center;
            }

            &__textCtn {
                position: static;
                background-size: 0;
                padding: 0;
                margin-top: 65px;
                margin-bottom: 40px;
                margin-left: 25px;
                color: $white;
                font-size: 40px;
                font-weight: 700;
                line-height: 1.3;
            }

            &__img {
                width: 65%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 45px;
            }

            &__branding {
                max-width: unset;
                width: 30%;
                align-self: flex-start;
                position: static;
            }

            &__branding .es-kv__text {
                font-size: 40px;
            }

            &__branding .es-kv__text span {
                font-size: 55px;
            }
        }

        .es-benefits {
            padding: 0 10px 32px 0;

            &__container {
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: flex-start;
                margin-top: 40px;
            }

            &__figure {
                max-width: 420px;
            }

            &__imgCtn {
                max-width: 420px;
            }

            &__BA--text {
                padding: 15px 20px;
                margin-top: -17px;
            }

            &__pill .es-title {
                margin-top: 0;
            }
        }

        .es-products {
            &__single-1 {
                left: 27%;
            }

            &__single-2 {
                left: 40%;
            }

            &__single-3 {
                left: 56%;
            }

            &__single-4 {
                left: 66%;
            }
        }

        .es-cross {
            padding-top: 0;

            &__single {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                height: 450px;
            }

            &__single-img {
                margin: 0;
            }

            &__single-table-wrapper {
                width: 35%;
                max-width: unset;
                margin: 20px 0 0 0;
            }

            &__single-link {
                margin-bottom: 0;
            }

            .es-swiper1 {
                height: 470px;


                .swiper-button-prev,
                .swiper-button-next {
                    top: 50%;
                }

                .swiper-button-prev {
                    left: 10px;
                }

                .swiper-button-next {
                    right: 10px;
                }
            }
        }

        .es-use {
            .es-title {
                margin-left: 0;
            }

            .es-title br {
                display: none;
            }

            &__wrapper {
                flex-wrap: nowrap;
            }

            &__img {
                position: static;
                width: 40%;
            }

            &__list-desktop {
                display: flex;
            }

            &__list-mobile {
                display: none;
            }

            &__list-single {
                max-width: 45%;
                margin: 0;
                flex-direction: row;
                align-items: center;
            }

            &__list-single:nth-child(2),
            &__list-single:nth-child(4) {
                margin-right: 60px;
            }
        }
    }

    @media (min-width: 990px) {
        .es-benefits {
            padding: 0 32px 32px 32px;
        }
    }
}